* { /* border boxing */
  box-sizing: border-box;
}

/* original code, with adjustments */
body {
  background-color: #333;
  font-family: helvetica;
  font-size: 15px;
  line-height: 1.3;
}
.container {
  margin: 0 auto;
  width: 420px;
}
nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}
.restaurant-list {
  padding-top: 13%;
}

/* new code */
.location {
  background-color: #d3d3d3;
  padding: 10px;
  border: 1px solid grey;
  width: 420px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
.content {
  padding: 10px;
}
.arrow {
  float: right;
  padding-top: 15px;
}
div {
  float: left;
}
.location:hover {
  background-color: grey;
}
